<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>@ViewData["Title"] - TournamentPlatform.WebUI</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto|Varela+Round">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/open-iconic/1.1.0/font/css/open-iconic-bootstrap.min.css"/>
    <link rel="stylesheet" href="~/css/site.css"/>
    <link rel="stylesheet" href="~/css/boostrap.css"/>
    <link rel="stylesheet" href="~/css/tournament.css"/>
    <link rel="stylesheet" href="~/css/loginForm.css"/>
    <link rel="stylesheet" href="~/css/usersManage.css"/>
    <link rel="stylesheet" href="~/css/profile.css"/>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="~/lib/jquery-bracket/dist/jquery.bracket.min.css" />
</head>
<body>
<header>
    <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-dark bg-primary border-bottom box-shadow mb-3">
        <div class="container">
            <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">TournamentPlatform.WebUI</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
                <partial name="_LoginPartial"/>
                <ul class="navbar-nav flex-grow-1">
                    <li class="nav-item">
                        <a class="nav-link text-light" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-light" asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-light" asp-area="" asp-controller="Teams" asp-action="Index">Teams</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-light" asp-area="" asp-controller="Tournaments" asp-action="Index">Tournaments</a>
                    </li>
                    @if (User.IsInRole("admin"))
                    {
                        <li class="nav-item">
                            <a class="nav-link text-light" asp-area="" asp-controller="User" asp-action="Index">Users</a>
                        </li>
                    }
                </ul>
            </div>
        </div>
    </nav>
</header>
<div class="container mb-5">
    <main role="main" class="pb-3">
        @RenderBody()
    </main>

    <div aria-live="polite" aria-atomic="true" style="min-height: 200px; position: relative;">
        <div class="toast" style="position: absolute; right: 0; bottom: 0;" data-autohide="false">
            <div class="toast-header">
                <strong class="mr-auto">Invite</strong>
                <button type="button" class="ml-2 mb-1 close" data-dismiss="toast" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="toast-body">
                You received invite
            </div>
        </div>
    </div>
</div>

<footer class="border-top footer text-muted">
    <div class="container">
        &copy; 2020 - TournamentPlatform.WebUI - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
    </div>
</footer>
<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
<script src="~/js/site.js" asp-append-version="true"></script>
<script src="~/js/signalr/dist/browser/signalr.min.js"></script>
<script type="text/javascript" src="~/lib/jquery-bracket/dist/jquery.bracket.min.js"></script>
<script>
    var hubConnection = new signalR.HubConnectionBuilder()
        .withUrl("/invitehub")
        .build();

    hubConnection.on('SendInvite',
        function(nickname, teamId) {
            $('.toast').toast('show');
        });

    hubConnection.start();
</script>
@RenderSection("Scripts", false)
</body>
</html>