@page
@model ForgotPasswordModel
@{
    ViewData["Title"] = "Forgot your password?";
}

<div id="logreg-forms">
    <h1 class="h3 mb-3 font-weight-normal" style="text-align: center">Forgot your password?</h1>
    <h5 class="h3 mb-3 font-weight-normal" style="text-align: center">Enter your email.</h5>
    <hr />
    <form method="post">
        <div asp-validation-summary="All" class="text-danger"></div>
        <div class="form-group">
            <input asp-for="Input.Email" class="form-control" placeholder="Email address" required="" autofocus="" />
            <span asp-validation-for="Input.Email" class="text-danger"></span>
        </div>
        <button type="submit" class="btn btn-primary btn-block">Reset password</button>
        <a asp-area="Identity" asp-page="./Login"><i class="fas fa-angle-left"></i> Back</a>
    </form>
</div>
@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
